.login-page {
  display: flex;
  height: 100vh;
  margin: 0;
  background: #0f172a;
  font-family: Arial;
}

/* LEFT */
.login-page .left {
  width: 50%;
  background: #1565c0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* RIGHT */
.login-page .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.login-page .card {
  width: 350px;
  background: #111827;
  padding: 25px;
  border-radius: 10px;
  color: white;
}

/* INPUTS */
.login-page input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
  background: #1f2937;
  color: white;
}

/* BUTTON */
.login-page .main-btn {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  border: none;
  border-radius: 6px;
  color: white;
}

/* TABS */
.login-page .tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.login-page .tab {
  cursor: pointer;
}

.login-page .tab.active {
  color: #3b82f6;
}

/* HIDDEN */
.login-page .hidden {
  display: none;
}

/* SOCIAL */
.login-page .socials {
  display: flex;
  gap: 10px;
}

.login-page .social-btn {
  flex: 1;
  padding: 8px;
  background: #1f2937;
  border: none;
  border-radius: 6px;
  color: white;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.login-page .social-btn img {
  width: 16px;
}